<div class="modal  is-active">
    <div class="modal-background"></div>
    <div class="modal-content" style="display: none">
        <div class="box">
            <p class="image">
                <img src="###img###">
            </p>

            <p class="">
                Active till: <strong>###time###</strong>
            </p>
            <strong style="color: #FF0000">You will not be able return to this page next time</strong>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-static">
                                    URL
                                </a>
                            </p>
                            <p class="control is-expanded">
                                <input id="urllink" class="input" value="###url###">
                            </p>
                            <p class="control">
                                <a id="copy" class="button is-primary">
                                    Copy
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>